applicationMVC/src/main/java/com/mycompany/applicationmvc/Utils/DBConnectUtil.java
applicationMVC/src/main/java/com/mycompany/applicationmvc/Utils/DBConnectUtil.java
*.class
*.lst
*.lst
*.class
*.class
/applicationMVC/target/
